:focus-visible {
  outline: var(--np-focus-ring-width) solid var(--np-focus-ring-color);
  outline-offset: var(--np-focus-ring-offset);
}

.u-visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}
